<ion-header>
  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>

  <img src="assets/images/cloudpatch.png" style="text-align:center;display:block;margin:auto;">

    <!--<ion-icon ios="ios-cloud" md="md-cloud"></ion-icon>-->
  <h3>Administrator Account Login</h3>

    <ion-list no-lines>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
          <ion-item>
              <ion-label floating>Username</ion-label>
              <!--<ion-input formControlName="userName" type="text"></ion-input>-->
              <ion-input id="test" formControlName="userName" type="text" [class.invalid]="!loginForm.controls.userName.valid && (loginForm.controls.userName.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!loginForm.controls.userName.valid  && (loginForm.controls.userName.dirty || submitAttempt)">
              <p>Please enter a Username.</p>
          </ion-item>

          <ion-item>
              <ion-label floating>Password</ion-label>
              <!--<ion-input formControlName="password" type="text"></ion-input>-->
              <ion-input formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">
              <p>Please enter a Password.</p>
          </ion-item>
          
          <br>
          <br>

      <button ion-button full color="primary" (click)="login()">Login</button>
    </form>

    </ion-list>


</ion-content>