<ion-header>
  <ion-navbar color="primary">

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>

    <ion-title>
      New Administrator
    </ion-title>

    <ion-buttons end>
      <button (click)="logout()" ion-button icon-only>
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
    <br>
    <h3>Create a New Administrator</h3>
            <!--<p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>-->
    <ion-list no-lines>
        <form [formGroup]="signUpForm">
    
        <ion-item>
            <ion-label floating>Prefix</ion-label>
            <ion-input formControlName="user_prefix" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input formControlName="firstName" type="text" [class.invalid]="!signUpForm.controls.firstName.valid && (signUpForm.controls.firstName.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!signUpForm.controls.firstName.valid  && (signUpForm.controls.firstName.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
        </ion-item>

        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input formControlName="lastName" type="text" [class.invalid]="!signUpForm.controls.lastName.valid && (submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!signUpForm.controls.lastName.valid  && (signUpForm.controls.lastName.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
        </ion-item>

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input [class.invalid]="!signUpForm.controls.username.valid && (signUpForm.controls.username.dirty || submitAttempt)" formControlName="username" type="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="signUpForm.controls.username.pending">
            <p>Checking username...</p>
        </ion-item>

        <ion-item *ngIf="!signUpForm.controls.username.valid && !signUpForm.controls.username.pending && (signUpForm.controls.username.dirty || submitAttempt)">
            <p>Sorry, that username can not be used!</p>
        </ion-item>

            <ion-item>
                <ion-label floating>Account Type</ion-label>
                <ion-select [class.invalid]="!signUpForm.controls.type.valid && (signUpForm.controls.type.dirty || submitAttempt)" formControlName="type">
                    <ion-option value="admin" checked="true">Administrator</ion-option>
                    <ion-option value="user">User</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label floating>Contact Information</ion-label>
                <ion-textarea formControlName="contact_info"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-label floating>Bio</ion-label>
                <ion-textarea formControlName="bio"></ion-textarea>
            </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input formControlName="password" type="password" [class.invalid]="!signUpForm.controls.password.valid && (submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!signUpForm.controls.password.valid  && (signUpForm.controls.password.dirty || submitAttempt)">
            <p>Please enter a Password.</p>
        </ion-item>


        <ion-item>
            <ion-label floating>Password Confirmation</ion-label>
            <ion-input formControlName="passwordConf" type="password" [class.invalid]="!signUpForm.controls.passwordConf.valid && (submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!signUpForm.controls.passwordConf.valid  && (signUpForm.controls.passwordConf.dirty || submitAttempt)">
            <p>Please enter a Password Confirmation.</p>
        </ion-item>
        <ion-item *ngIf="(signUpForm.controls.passwordConf.value  != signUpForm.controls.password.value) && signUpForm.controls.passwordConf.dirty">
            <p>Password and Password Confirmation do not match!</p>
        </ion-item>


        </form>

    </ion-list>
 
    <button ion-button full color="primary" (click)="save()">Create Account</button>


</ion-content>