<ion-header>
  <ion-navbar color="primary">
    <ion-title>Triage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding scroll="false">

  <h3>Triage for Patient:</h3>
  <ion-card>
    <ion-grid>
      <ion-card-header>
          <ion-row>
            <ion-col width-20>ID</ion-col>
            <ion-col id="right" width-80><ion-badge>{{patient._id}}</ion-badge></ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-20>Name</ion-col>
            <ion-col id="right" width-80>{{patient.patient_first_name}} {{patient.patient_last_name}}</ion-col>
          </ion-row>
      </ion-card-header>
    </ion-grid>
  </ion-card>
  <br>
  <form [formGroup]="triageForm">
    <ion-list>
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input formControlName="patient_first_name" type="text" [class.invalid]="!triageForm.controls.patient_first_name.valid && (triageForm.controls.patient_first_name.dirty || submitAttempt)"></ion-input>
      </ion-item>
      <ion-item *ngIf="!triageForm.controls.patient_first_name.valid  && (triageForm.controls.patient_first_name.dirty || submitAttempt)">
        <p>Please enter a valid first name.</p>
      </ion-item>
     <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input formControlName="patient_last_name" type="text" [class.invalid]="!triageForm.controls.patient_last_name.valid && (triageForm.controls.patient_last_name.dirty || submitAttempt)"></ion-input>
    </ion-item>
      <ion-item *ngIf="!triageForm.controls.patient_last_name.valid  && (triageForm.controls.patient_last_name.dirty || submitAttempt)">
        <p>Please enter a valid last name.</p>
      </ion-item>
    <ion-item>
        <ion-label floating>Sex (Male / Female)</ion-label>
        <ion-select formControlName="sex">
            <ion-option value="male" >Male</ion-option>
            <ion-option value="female" >Female</ion-option>
        </ion-select>
    </ion-item>
     <ion-item>
      <ion-label floating>Height (Inches)</ion-label>
      <ion-input formControlName="height" type="text"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label floating>Weight (Pounds)</ion-label>
      <ion-input formControlName="weight" type="text"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label floating>Temperature (Fahrenheit)</ion-label>
      <ion-input formControlName="temperature" type="text"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label floating>Pulse (BPM)</ion-label>
      <ion-input formControlName="pulse" type="text"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label floating>Blood Pressure Systolic</ion-label>
      <ion-input formControlName="bloodPressureSystolic" 
                  type="text"
                  [(ngModel)]="patient.bloodPressureSystolic"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label floating>Blood Pressure Diastolic</ion-label>
      <ion-input formControlName="bloodPressureDiastolic"
                 type="text"
                 [(ngModel)]="patient.bloodPressureDiastolic"></ion-input>
    </ion-item>
     <ion-item>
      <ion-label><p>Final Blood Pressure</p></ion-label>
      <ion-badge item-right>{{patient?.bloodPressureSystolic}} / {{patient?.bloodPressureDiastolic}}</ion-badge>
    </ion-item>
    <br>
    <ion-item>
        <ion-label floating>Blood Type</ion-label>
        <ion-select formControlName="blood_type">
            <ion-option value="O+" >O+</ion-option>
            <ion-option value="O-" >O-</ion-option>
            <ion-option value="A+" >A+</ion-option>
            <ion-option value="A-" >A-</ion-option>
            <ion-option value="B+" >B+</ion-option>
            <ion-option value="B-" >B-</ion-option>
            <ion-option value="AB+" >AB+</ion-option>
            <ion-option value="AB-" >AB-</ion-option>
        </ion-select>
    </ion-item>
     <ion-item>
      <ion-label floating>Chief Complaint</ion-label>
      <ion-input formControlName="chiefComplaint" type="text"></ion-input>
    </ion-item>

    </ion-list>
  </form>

<br>
<button ion-button full color="danger" (click)="discard()">Discard</button>
<br>
<button ion-button full (click)="save()">Save</button>

  <!--
  <ion-fab right bottom>
  <button ion-fab color="primary"><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab><ion-icon style="color: green;" name="checkmark-circle"></ion-icon></button>
      <button ion-fab><ion-icon style="color: red;" name="close-circle"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  -->


</ion-content>


