page-select-patient {

    .numberCircle {
        border-radius: 50%;
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */

        width: 40px;
        height: 30px;
        padding: 5px;
        
        background:dodgerblue;
        border: 2px solid #666;
        color: white;
        text-align: center;
        
        font: 18px Arial, sans-serif;
    }

    .numberCircle {
        behavior: url(PIE.htc); /* remove if you don't care about IE8 */

        padding: 5px;
        
        color: black;
        text-align: center;
        
        font: 18px Arial, sans-serif;
    }

    .item .icon .icon-badge {
    position: absolute;
    left: 0px;
    font-size: 15px;
    }

    h2{
        display:inline;
        position: absolute;
        left: 25%;
        top: 30%;
    }

}

